.filmDescription{
  display: flex;
  justify-content: center;
}

.filmImg img{
  width: 86%;
}
li{
	list-style-type: none;
	padding: 0 20px;
}

li a{
	text-decoration: none;
}
.navMenu{
	display: flex;
    justify-content: center;
	margin: 20px 20px 60px 20px;
	    font-size: 25px;
}
#root{
  margin: 20px;
}

.filmImg{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.filmShotDecr{
  display: flex;
    align-items: flex-start;
    flex-direction: column;
}
h1{
  text-align: center;
}
.timerH2{
  text-align: center;

}
.homeDog{
  width: 1000px;
  margin: 20px auto;
}
.specificationsDog{
  display: flex;
}
.dogImg img{
  width: 90%;
}
.localTime{
  font-size: 10px;
    display: flex;
    align-items: center;
    margin: 10px;
    color: gray;
}
.timerH2{
  font-size: 20px;
    padding: 0 10px;
}
button{
  border: none;
  padding: 10px;
  border-radius: 4px;
  background: red;
  color: white;
}
button:hover{
  background-color: brown;
}
td{
  width: 30%;
}
thead{
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
}
.resume{
  width: 1000px;
  margin: 20px auto;
}
.aboutFilm{
  width: 1000px;
  margin: 20px auto;
}